/*ABOUT*/
/*Title-repeats*/
.part__title {
  width: 80%;
  margin: 0 auto;
}
.part__title-topic {
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  margin-top: 100px;
}
.part__title-content {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 20px;
  white-space: nowrap;
}
.part__title-footer {
  background-color: #f38181;
  height: 3px;
  width: 60px;
  margin: 0 auto;
  margin-top: 40px;
}
.part__title-text {
  margin-top: 50px;
  text-align: center;
  color: #999999;
  line-height: 1.6;
}
/*End of repeating title*/
.about__content {
  margin-top: 100px;
  margin-bottom: 100px;
}
.about__element {
  max-width: 380px;
  width: 100%;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.about__image img {
  max-width: 100%;
  position: relative;
  display: block;
}
/*about__image-ANIMATION*/
/*.about__image:hover {
	transition: 0.4s;
	box-shadow:
	1px 1px rgb(149, 225, 211),
	2px 2px rgb(149, 225, 211),
	3px 3px rgb(149, 225, 211),
	4px 4px rgb(149, 225, 211),
	5px 5px rgb(149, 225, 211),
	6px 6px rgb(149, 225, 211),
	7px 7px rgb(149, 225, 211);

}*/
.about__image-mask {
  position: absolute;
  max-width: 380px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  top: 0;
  left: 0;
}
.mask__text {
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
}
.mask__text img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.view-first img {
  transition: all 0.2s linear;
}
.view-first .about__image-mask {
  opacity: 0;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, rgba(234, 210, 131, 0.7)), color-stop(1, rgba(229, 125, 126, 0.7)));
  transition: all 0.3s ease-in-out;
}
.view-first .mask__text {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/*.view-first:hover .about__image-mask,
.view-first:hover .about__image {
 	opacity: 1;
 	transition: 0.3s;
	box-shadow:
		1px 1px rgb(149, 225, 211),
		2px 2px rgb(149, 225, 211),
		3px 3px rgb(149, 225, 211),
		4px 4px rgb(149, 225, 211),
		5px 5px rgb(149, 225, 211),
		6px 6px rgb(149, 225, 211),
		7px 7px rgb(149, 225, 211);
}*/
.view-first:hover .mask__text {
  opacity: 1;
  transform: translateY(90px);
}
/*animation ends*/
/*about numbers*/
.bg__about {
  background-color: #95e1d3;
}
.about__counter {
  height: 270px;
  width: 20%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}
.about__counter:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.about__counter-num {
  font-size: 72px;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding-top: 80px;
}
.about__counter-text {
  font-size: 14px;
  font-family: "Montserrat";
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  padding-top: 15px;
}
/*about numbers end*/
/*ABOUT ENDS*/
